fieldset{
    border-radius: 25px;
    color: var(--foreground-color);
    font-size: 16px;
    font-weight: 500;
    font-family: 'Ubuntu';
}

input[type="number"]{
    background-color: var(--inputs-background-color);
    border-radius: 5px;
    border: none;
    color: var(--foreground-color);
    font-size: 16px;
    font-weight: 500;
    font-family: 'Ubuntu';
    margin: 10px auto;
}

.input-wrapper>label{
    color: var(--foreground-color);
    font-size: 16px;
    font-weight: 500;
    font-family: 'Ubuntu';
}


input[type="number"]:focus{
    outline: none;
}

input[type="checkbox"]:checked, 
input[type="checkbox"]:not(:checked), 
input[type="radio"]:checked, 
input[type="radio"]:not(:checked) 
{
    position: absolute;
    left: -9999px;
}

input[type="checkbox"]:checked + label, 
input[type="checkbox"]:not(:checked) + label, 
input[type="radio"]:checked + label, 
input[type="radio"]:not(:checked) + label {
    display: inline-block;
    position: relative;
    padding-left: 28px;
    line-height: 20px;
    cursor: pointer;
    color: var(--foreground-color);
    font-size: 16px;
    font-weight: 500;
    font-family: 'Ubuntu';
    max-height: min-content;
    user-select: none;
}
input[type="checkbox"]:checked + label:before, 
input[type="checkbox"]:not(:checked) + label:before,
input[type="radio"]:checked + label:before, 
input[type="radio"]:not(:checked) + label:before {
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    width: 20px;
    height: 20px;
    background-color: var(--inputs-background-color);
}

input[type="checkbox"]:checked + label:before, 
input[type="checkbox"]:not(:checked) + label:before {
    border-radius: 5px;
}

input[type="radio"]:checked + label:before, 
input[type="radio"]:not(:checked) + label:before {
    border-radius: 100%;
}
input[type="checkbox"]:checked + label:after, 
input[type="checkbox"]:not(:checked) + label:after, 
input[type="radio"]:checked + label:after, 
input[type="radio"]:not(:checked) + label:after {
    content: "";
    position: absolute;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
input[type="checkbox"]:checked + label:after, 
input[type="checkbox"]:not(:checked) + label:after {
    left: 3px;
    top: 4px;
    width: 10px;
    height: 5px;
    border-radius: 1px;
    border-left: 4px solid var(--accent-color);
    border-bottom: 4px solid var(--accent-color);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
input[type="radio"]:checked + label:after, 
input[type="radio"]:not(:checked) + label:after {
    left: 5px;
    top: 5px;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: var(--accent-color);
}
input[type="checkbox"]:not(:checked) + label:after, 
input[type="radio"]:not(:checked) + label:after {
    opacity: 0;
}
input[type="checkbox"]:checked + label:after, 
input[type="radio"]:checked + label:after {
    opacity: 1;
}
button{
    background-color: var(--inputs-background-color);
    border-radius: 5px;
    border: none;
    display: block;
    margin: 10px auto;
    color: var(--foreground-color);
    font-size: 16px;
    font-weight: 500;
    font-family: 'Ubuntu';
    padding: 10px;
}