:root{
    --accent-color: #F39F18;
    --foreground-color: #ffffff;
    --inputs-background-color: #424242;
    --workspace-background-color: #101010;
    --background-color: #212121;
    --highlighted-background-color: #272727;
    --link-color: #F39F18;
    --link-select-color: #FFBD34;
}