:root{
    --accent-color: #F39F18;

    --foreground-color: #ffffff;
    --link-color: #F39F18;
    --link-select-color: #FFBD34;
    --background-color: #212121;
    --inputs-background-color: #424242;
    --workspace-background-color: #101010;
    --highlighted-background-color: #272727;
    --highlighted-selected-background-color: #676767;

    --devtools-background-color: #2121217c;
    --devtools-foreground-color: #ffffff7c;
    --devtools-sector-header-foreground-color: #189FF37c;
    --devtools-plugin-load-succeed-color: #18f3187c;
    --devtools-plugin-dependency-load-failed-color: #f3f3187c;
    --devtools-plugin-no-dependency-color: #f37c187c;
    --devtools-plugin-load-failed-color: #f318187c;
}